<div class="container-login100">

    <div class="wrap-login100">

        <h2 class="login100-form-title p-b-26">Frictionless Account Opening</h2>

        <div nz-row style="margin-bottom:16px;">
            <div nz-col nzSpan="24" style=" display: flex; justify-content: center; ">
                <img src="../../assets/ajara_bank_logo.svg" width="169" height="80">
            </div>
        </div>

        <h4 class="bank-name-title p-b-26">The Ajara Urban Co-op. Bank Ltd. Ajara</h4>

        <div nz-form class="login-form" nz-row>
            <nz-form-item nz-col nzSpan="24">
                <nz-form-control nzErrorTip="Please input your username!">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input [(ngModel)]="USER_NAME"
                            placeholder="Username" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nz-col nzSpan="24" nzErrorTip="Please input your Password!">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input  [(ngModel)]="PASSWORD"
                            placeholder="Password" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
                [nzLoading]="isloginSpinning" (click)="login()">Log in</button>

        </div>

    </div>
</div>