
    <div class="container-login100">

        <div class="wrap-login100">

            <h2 class="login100-form-title p-b-26">Frictionless Account Opening</h2>

            <div nz-row style="margin-bottom:16px;">
                <div nz-col nzSpan="24" style=" display: flex; justify-content: center; ">
                    <img src="../../assets/ajara_bank_logo.png" width="100" height="100">
                </div>
            </div>

            <h4 class="bank-name-title p-b-26">The Ajara Urban Co-op. Bank Ltd. Ajara</h4>

            <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="login()" nz-row>
                <nz-form-item nz-col nzSpan="24">
                    <nz-form-control nzErrorTip="Please input your username!">
                        <nz-input-group nzPrefixIcon="user">
                            <input type="text" nz-input formControlName="USER_NAME"  [(ngModel)]="USER_NAME" placeholder="Username" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nz-col nzSpan="24" nzErrorTip="Please input your Password!">
                        <nz-input-group nzPrefixIcon="lock">
                            <input type="password" nz-input formControlName="PASSWORD" [(ngModel)]="PASSWORD" placeholder="Password" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <div nz-col nzSpan="24" class="login-form-margin">
                    <div nz-row>
                        <div nz-col [nzSpan]="12">
                            <label nz-checkbox formControlName="remember">
                                <span>Remember me</span>
                            </label>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <a class="login-form-forgot">Forgot password</a>
                        </div>
                    </div>
                </div>
                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [nzLoading]="isloginSpinning">Log in</button>
                Or
                <a>register now!</a>
            </form>

        </div>
    </div>

