<nz-table #applicantTable [nzBordered]="true" [nzData]="ApplicantData">
  <thead>
    <tr>
      <th>Edit</th>
      <th>Name</th>
      <th>Aadhaar</th>
      <th>Mobile</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of applicantTable.data">
      <td>
        <a (click)="edit(data)"><span nz-icon nzType="edit" nzTheme="outline"></span></a>
      </td>
      <td>{{ data.FIRST_NAME }} {{data.MIDDLE_NAME}} {{ data.LAST_NAME }}</td>
      <td>{{ data.AADHAAR_NUMBER }}</td>
      <td>{{ data.MOBILE_NUMBER }}</td>
    </tr>
  </tbody>
</nz-table>



<ng-template #applicantTamplate>
    <app-applicant-tabs [personalInfo]="personalInfo"></app-applicant-tabs>
</ng-template>

<ng-template #footertpl>
  <div style="float: right">
    <button nz-button style="margin-right: 8px;" *ngIf="showPreviousButton" (click)="previous()" >Previous</button>
    <button nz-button nzType="primary" (click)="save()" [nzLoading]="saveButtonLoading">{{saveButtonTitle}}</button>
  </div>
</ng-template>


