<nz-table #applicantTable [nzBordered]="true" [nzData]="ApplicantData">
  <thead>
    <tr>
      <th>Edit</th>
      <th>Name</th>
      <th>Aadhaar</th>
      <th>Mobile</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of applicantTable.data">
      <td>
        <a (click)="edit(data)"><span nz-icon nzType="edit" nzTheme="outline"></span></a>
      </td>
      <td>{{ data.FIRST_NAME }} {{data.MIDDLE_NAME}} {{ data.LAST_NAME }}</td>
      <td>{{ data.AADHAAR_NUMBER }}</td>
      <td>{{ data.MOBILE_NUMBER }}</td>
    </tr>
  </tbody>
</nz-table>


<nz-drawer [nzWidth]="900" (nzOnClose)="close()" [nzSize]="'large'" [nzFooter]="footertpl" [nzVisible]="DrawerVisible" nzPlacement="right"
  [nzTitle]="'Applicant Details'" [nzSize]="'large'">
  <ng-container *nzDrawerContent>
    <app-applicant-tabs [personalInfo]="personalInfo"></app-applicant-tabs>
  </ng-container>


  <ng-template #footertpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px;" (click)="previous()" >Previous</button>
      <button nz-button nzType="primary" (click)="save()" [nzLoading]="saveButtonLoading">{{saveButtonTitle}}</button>
    </div>
  </ng-template>
  
</nz-drawer>



