<nz-layout>
  <nz-header>

  </nz-header>

  <nz-layout class="layout">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="user-box"></div>
    
      <ul nz-menu nzTheme="dark" nzMode="inline" class="sider-1">
        <li nz-menu-item class="menu-item-button">
          <span nz-icon nzType="plus"></span>
          <span>Add new Account</span>
        </li>
      </ul>
      <ul nz-menu nzTheme="dark" nzMode="inline" class="sider">
        <li nz-menu-item class="menu-item">
          <span nz-icon nzType="history"></span>
          <span>A/C History</span>
        </li>
        
        <li nz-menu-item class="menu-item">
          <span nz-icon nzType="edit"></span>
          <span>Draft</span>
        </li>
       
        <li nz-menu-item class="menu-item">
          <span nz-icon nzType="user"></span>
          <span>eKYC</span>
        </li>
      
        
      </ul>
    </nz-sider>
    <nz-content>

      <div class="inner-content">Bill is a cat.</div>
    </nz-content>
    <!-- <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer> -->
  </nz-layout>
</nz-layout>