.page {
  page-break-after: always !important;
  break-after: page !important;
}

.page-margin-top {
  margin-top: 6px;
}

.border-all {
  border: 1px solid black;
  padding: 3px 5px;
  box-sizing: border-box;
}

.heading {
  text-align: center;
  background-color: rgb(237, 2, 140);
  color: white;
  font-weight: bold;
  padding: 3px 5px;
}

.margin {
  margin-bottom: 4px;
}

.data {
  font-weight: bold;
  text-align: center;
}

.data-heading {
  background-color: rgb(252, 233, 241);
}

#contentToConvert {
  font-weight: bold;
  font-size: 9.5px;
  line-height: 1.22;
}

[nz-row],
[nz-col],
.border-all,
.ant-row {
  page-break-inside: avoid !important;
  break-inside: avoid !important;
  margin-bottom: 0px;
}

.avoid-page-break {
  page-break-inside: avoid !important;
  break-inside: avoid !important;
}