<div nz-row>
    <div nz-col nzSpan="11">

        <div class="box">
            <nz-divider nzText="Services & Linkages"></nz-divider>
            <div nz-row class="content-box">
                <nz-form-item nz-col nzSpan="24">
                    <nz-form-label [nzNoColon]="true">Services & Linkages</nz-form-label>
                    <nz-form-control>
                        <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()"
                            [nzIndeterminate]="indeterminate">Check All</label>

                        <nz-checkbox-group [(ngModel)]="checkOptionsOne"></nz-checkbox-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </div>
    <div nz-col nzSpan="1">
    </div>
    <div nz-col nzSpan="12">
        <div class="box">
            <nz-divider nzText="Name On Debit Card"></nz-divider>
            <div class="content-box" nz-row>
    
                <nz-form-item nz-col nzSpan="24">
                    <nz-form-label [nzNoColon]="true">Primary Card (Aplicant 1)</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="card_applicant1" placeholder="Enter Name of Applicant 1 (For Name on Debit Card)" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-col nzSpan="24">
                    <nz-form-label [nzNoColon]="true">Add On Card (Applicant 2)</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="card_applicant2" placeholder="Enter Name of Applicant 2 (For Name on Debit Card)" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-col nzSpan="24">
                    <nz-form-label [nzNoColon]="true">Add On Card (Applicant 3)</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="card_applicant3" placeholder="Enter Name of Applicant 3 (For Name on Debit Card)" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-col nzSpan="24">
                    <nz-form-label [nzNoColon]="true">Add On Card (Applicant 3)</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="card_applicant4" placeholder="Enter Name of Applicant 4 (For Name on Debit Card)"/>
                    </nz-form-control>
                </nz-form-item>



            </div>
        </div>
    </div>
</div>