<div nz-row>
    <div nz-col nzSpan="24">
        <div class="box">
            <nz-divider nzText="Monthly Income"></nz-divider>
            <div nz-row class="content-box">
                <nz-form-item nz-col nzSpan="24">
                    <nz-form-control>
                        <nz-radio-group [(ngModel)]="financialInfo.INCOME">
                            <label nz-radio nzValue="1">Upto ₹5000</label>
                            <label nz-radio nzValue="2">₹5001 to ₹10000</label>
                            <label nz-radio nzValue="3">₹10001 to ₹20000</label>
                            <label nz-radio nzValue="4">₹20001 to ₹30000</label>
                            <label nz-radio nzValue="5">₹30001 to ₹50000</label>
                            <label nz-radio nzValue="6">₹50001 to ₹100000</label>
                            <label nz-radio nzValue="7">₹100001 to ₹150000</label>
                            <label nz-radio nzValue="8">Above ₹150001</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>

               
            </div>
        </div>
    </div>
</div>
