<nz-table #applicantTable [nzBordered]="true" [nzData]="draftList">
    <thead>
        <tr>
            <th>Edit</th>
            <th>Name</th>
            <th>Aadhaar</th>
            <th>Account Type</th>
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let data of applicantTable.data">
            <td><a (click)="edit(data)"><span nz-icon nzType="edit" nzTheme="outline"></span></a></td>
            <td>{{data.PRIMARY_APPLICANT_FIRST_NAME}} {{data.PRIMARY_APPLICANT_MIDDLE_NAME}}
                {{data.PRIMARY_APPLICANT_LAST_NAME}}</td>
            <td>{{data.AADHAAR_NUMBER}}</td>
            <td>
                <span *ngIf="data.ACCOUNT_TYPE == 'S'">Saving</span>
                <span *ngIf="data.ACCOUNT_TYPE =='F'">Fixed Deposite</span>
                <span *ngIf="data.ACCOUNT_TYPE =='R'">Recurring Deposite</span>
                <span *ngIf="data.ACCOUNT_TYPE =='P'">Pigmy</span>
            </td>
        </tr>
    </tbody>
</nz-table>

<nz-drawer (nzOnClose)="close()"  [nzWidth]="900" [nzVisible]="drawerVisible" nzPlacement="right"
[nzTitle]="'Edit Applicant'">
    <app-add-account></app-add-account>
</nz-drawer>
