<div nz-row>
    <div nz-col nzSpan="11">
        <div class="box">
            <nz-divider nzText="KYC Details"></nz-divider>
            <div nz-row class="content-box">
                <nz-form-item nz-col nzSpan="24">
                    <nz-form-label [nzNoColon]="true">Aadhaar Number</nz-form-label>
                    <nz-form-control nzErrorTip="The input is not Aadhaar number!">
                        <div nz-row>
                            <div nz-col [nzSpan]="17">
                                <input nz-input name="aadhar" [(ngModel)]="aadhaarVerify.meta.id_number"
                                    placeholder="Enter Aadhaar number" />
                            </div>
                            <div nz-col nzSpan="1">

                            </div>
                            <div nz-col [nzSpan]="5">
                                <button nz-button nzType="primary" (click)="getOtp()" [nzLoading]="loadOtpButton">Get
                                    OTP</button>
                            </div>
                        </div>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-col nzSpan="24" *ngIf="aadhaarVerify.showOtp">
                    <nz-form-label [nzNoColon]="true">OTP (For Aadhaar Card Verification)</nz-form-label>
                    <nz-form-control>
                        <div nz-row>
                            <div nz-col [nzSpan]="17">
                                <input nz-input name="otp" [(ngModel)]="aadhaarVerify.meta.otp"
                                    placeholder="Enter OTP" />
                            </div>
                            <div nz-col nzSpan="1">

                            </div>
                            <div nz-col [nzSpan]="5">
                                <button nz-button nzType="primary" (click)="getAadhaarData()"
                                    [nzLoading]="loadAadhaarButton">Verify OTP</button>
                            </div>
                        </div>
                    </nz-form-control>
                </nz-form-item>




                <nz-form-item nz-col nzSpan="24">
                    <nz-form-label [nzNoColon]="true">PAN number</nz-form-label>
                    <nz-form-control>
                        <div nz-row>
                            <div nz-col [nzSpan]="17">
                                <input nz-input name="pan" [(ngModel)]="aadhaarVerify.meta1.id_number"
                                    placeholder="Enter Pan Number" />
                            </div>
                            <div nz-col nzSpan="1">

                            </div>
                            <div nz-col [nzSpan]="5">
                                <button nz-button nzType="primary" (click)="verifyPan()">Verify
                                    PAN</button>
                            </div>
                        </div>
                        <div nz-row *ngIf="aadhaarVerify.showPan" class="success-tip">
                            <div nz-col nzSpan="24">
                                Pan verified successfully
                            </div>
                        </div>
                    </nz-form-control>
                </nz-form-item>

            </div>


        </div>
        <div class="box">
            <nz-divider nzText="Introduction Details"></nz-divider>
            <div class="content-box" nz-row>
                <div nz-col nzSpan="24">
                    <p>Introduction By Existing Account Holder<span><nz-switch [(ngModel)]="personalInfo.IS_INTRODUCED"
                                nzCheckedChildren="Yes" nzUnCheckedChildren="No"></nz-switch></span></p>
                </div>
                <div nz-col nzSpan="24" *ngIf="personalInfo.IS_INTRODUCED">
                    <div nz-row>
                        <nz-form-item nz-col nzSpan="24">
                            <nz-form-label [nzNoColon]="true">Existing Account Holder Name</nz-form-label>
                            <nz-form-control>
                                <input nz-input name="existing-account" [(ngModel)]="personalInfo.E_CUSTOMER_NAME"
                                    placeholder="Enter Name of Existing Account Holder" />
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item nz-col nzSpan="12">
                            <nz-form-label [nzNoColon]="true">Customer ID</nz-form-label>
                            <nz-form-control>
                                <input nz-input name="customer-id" [(ngModel)]="personalInfo.E_CUSTOMER_ID"
                                    placeholder="Existing A/C Holder's Customer ID" />
                            </nz-form-control>
                        </nz-form-item>
                        <div nz-col nzSpan="1"></div>
                        <nz-form-item nz-col nzSpan="11">
                            <nz-form-label [nzNoColon]="true">Account No</nz-form-label>
                            <nz-form-control>
                                <input nz-input name="account-no" [(ngModel)]="personalInfo.E_ACCOUNT_NUMBER"
                                    placeholder="Existing A/C Holder's A/C No." />
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item nz-col nzSpan="24">
                            <nz-form-label [nzNoColon]="true">For how many years existing account holder personaly knows
                                the
                                applicant?</nz-form-label>
                            <nz-form-control>
                                <input nz-input name="knowing-years" [(ngModel)]="personalInfo.E_YEARS"
                                    placeholder="(In Years)" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div nz-col nzSpan="1">
    </div>
    <div nz-col nzSpan="12">
        <div class="box" *ngIf="aadhaarVerify.showAadhaar">
            <nz-divider nzText="KYC Details"></nz-divider>
            <div class="content-box ">
                    <div nz-row>
                        <div nz-col></div>
                        <div nz-col nzSpan="24" style="font-size:18px;margin-bottom: 20px;">
                            <b>{{aadhaarVerify.data.aadhaar_no}}</b>
                        </div>
                        <div nz-col nzSpan="18" style="font-size: 14px;">
                            <div nz-row>
                                <div nz-col nzSpan="24" style="margin-bottom:10px;">Name :
                                    <b>{{aadhaarVerify.data.full_name}}</b>
                                </div>
                                <div nz-col nzSpan="18" style="margin-bottom:10px;">DOB :
                                    <b>{{aadhaarVerify.data.dob}}</b></div>
                                <div nz-col nzSpan="6" style="margin-bottom:10px;">Age :
                                    <b>{{aadhaarVerify.data.age}}</b></div>
                                <div nz-col nzSpan="24" style="margin-bottom:10px;">Gender :
                                    <b>{{aadhaarVerify.data.gender}}</b>
                                </div>
                                <div nz-col nzSpan="24" style="margin-bottom:10px;">Address :
                                    <b>{{aadhaarVerify.data.address.vtc}}, {{aadhaarVerify.data.address.street}},
                                        {{aadhaarVerify.data.address.loc}}, {{aadhaarVerify.data.address.dist}},
                                        {{aadhaarVerify.data.address.state}}, {{aadhaarVerify.data.address.country}}</b>
                                </div>

                            </div>

                        </div>
                        <div nz-col nzSpan="6" style="text-align:center">
                            <img width="100px" height="100px" [src]="aadhaarVerify.data.profile_image">
                        </div>
                    </div>
              
            </div>
        </div>
        <div class="box">
            <nz-divider nzText="Personal Information"></nz-divider>
            <div class="content-box" nz-row>
                <div nz-col nzSpan="24">
                    <p>Is applicant minor?<span><nz-switch [ngModel]="personalInfo.IS_MINOR"
                                (ngModelChange)="personalInfo.changeMinor()" nzCheckedChildren="Yes"
                                nzUnCheckedChildren="No"></nz-switch></span></p>
                </div>

                <!-- If Applicant is Minor -->
                <div nz-col nzSpan="24" *ngIf="personalInfo.IS_MINOR">
                    <div nz-row>
                        <nz-form-item nz-col nzSpan="24">
                            <nz-form-label [nzNoColon]="true">Name of the Guardian</nz-form-label>
                            <nz-form-control>
                                <input nz-input name="guardian" [(ngModel)]="personalInfo.GUARDIAN_NAME"
                                    placeholder="Enter Name of the Guardian" />
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item nz-col nzSpan="8">
                            <nz-form-label [nzNoColon]="true">Minor's DOB</nz-form-label>
                            <nz-form-control>
                                <nz-date-picker [(ngModel)]="personalInfo.MINOR_DOB"
                                    [nzFormat]="'yyyy/MM/dd'"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item nz-col nzSpan="8">
                            <nz-form-label [nzNoColon]="true">Guardian's DOB</nz-form-label>
                            <nz-form-control>
                                <nz-date-picker [(ngModel)]="personalInfo.GUARDIAN_DOB"
                                    [nzFormat]="'yyyy/MM/dd'"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <div nz-col nzSpan="8">

                        </div>

                        <nz-form-item nz-col nzSpan="24">
                            <nz-form-label [nzNoColon]="true">Relationship with minor</nz-form-label>
                            <nz-form-control>
                                <nz-radio-group [(ngModel)]="personalInfo.RELATION_WITH_MINOR">
                                    <label nz-radio nzValue="F">Father</label>
                                    <label nz-radio nzValue="M">Mother</label>
                                    <label nz-radio nzValue="C">By Court Order</label>
                                    <label nz-radio nzValue="O">Other</label>
                                </nz-radio-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <!-- If Applicant is Not Minor -->
                <div nz-col nzSpan="24" *ngIf="!personalInfo.IS_MINOR">
                    <div nz-row>
                        <nz-form-item nz-col nzSpan="24">
                            <nz-form-label [nzNoColon]="true">Applicant 1</nz-form-label>
                            <nz-form-control>
                                <input nz-input [(ngModel)]="personalInfo.PRIMARY_APPLICANT_NAME" name="applicant1"
                                    placeholder="Enter Name of Applicant 1" />
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item nz-col nzSpan="24">
                            <nz-form-label [nzNoColon]="true">Applicant 2</nz-form-label>
                            <nz-form-control>
                                <input [(ngModel)]="personalInfo.APPLICANT2" nz-input name="applicant2"
                                    placeholder="Enter Name of Applicant 2" />
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item nz-col nzSpan="24">
                            <nz-form-label [nzNoColon]="true">Applicant 3</nz-form-label>
                            <nz-form-control>
                                <input nz-input [(ngModel)]="personalInfo.APPLICANT3" name="applicant3"
                                    placeholder="Enter Name of Applicant 3" />
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item nz-col nzSpan="24">
                            <nz-form-label [nzNoColon]="true">Applicant 4</nz-form-label>
                            <nz-form-control>
                                <input nz-input [(ngModel)]="personalInfo.APPLICANT4" name="applicant4"
                                    placeholder="Enter Name of Applicant 4" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>


            </div>
        </div>

    </div>


</div>